@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

body div .h1Ab {
  text-align: center;
  font-family: "Secular One", sans-serif;
  color: white;
  margin-top: 40px;
}
