@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

:root {
  --mainDark: #170f14;
  --mainGrey: rgba(109, 109, 109);
  --mainLighGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.main-footer {
  font-family: "Secular One", sans-serif;
}
