@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

body div .content1 {
  background-color: #343838;
}

body div .content1 .signup {
  width: 50%;
  border: 1px solid #cc3b20;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 670px;
  background-color: #170f14;
}

.signup img {
  width: 200px;
  padding: 20px 0px;
}

.signup div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario1 {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.formulario1 input {
  margin-bottom: 15px;
  height: 40px;
  width: 100%;
  font-family: "Secular One", sans-serif;
}

.formulario1 button {
  margin-bottom: 15px;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
  font-family: "Secular One", sans-serif;
}

.signup div h1 {
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-family: "Secular One", sans-serif;
}

.signup a {
  padding-bottom: 25px;
  font-family: "Secular One", sans-serif;
  color: red;
}

.content1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acs {
  color: white;
  font-family: "Secular One", sans-serif;
}
